<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobisprint.aurika"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:node="remove" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Bluetooth low energy permissions are specified in the SDK -->
    <!-- NFC permissions and features -->
    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="false" />

    <application
        android:exported="true"
        android:usesCleartextTraffic="true"
        android:name=".unlock.Aurika"
        android:allowBackup="true"
        android:icon="@mipmap/launch_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launch_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:exported="false"
            android:name=".coorg.activity.MyStayActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:exported="false"
            android:name=".coorg.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".udaipur.activity.HomeScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".SelectLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".coorg.activity.UserAuthenticationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <!--
 <receiver
            android:name=".helper.SMSReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        -->
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <service
            android:name=".udaipur.services.SchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/> <!-- Add your API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_kHdWf9jzJMB3eq" />


        <!--<receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>-->
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

    </application>

</manifest>